<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <div class="box-aqua">
            <p>AQUA</p>
            <img src="../src/storage/img/white/water.svg" alt="">
        </div>
        <div class="sections">
            <a href="#inicio">INICIO</a>
            <a href="#">COMO JUGAR</a>
            <a href="#">APOYANOS</a>
            <a href="#">SOBRE NOSOTROS</a>
        </div>
        <div class="theme">
            <a href="#"><img src="../src/storage/img/moon-on.svg" alt=""></a>
            <a href="#"><img src="../src/storage/img/sun-off.svg" alt=""></a>
        </div>
    </header>
    <main>
        <section id="inicio">
            <div class="content">
                <img src="../src/storage/img/white/tittle.svg" alt="" class="tittle-1">
                <h1>Somos creatividad, somos Crae</h1>
                <p>Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
            </div>
            <div class="img-iconbuy">
                <img src="../src/storage/img/white/dog.svg" alt="">
                <button>
                    <img src="../src/storage/img/white/car.svg" alt="">
                    Comprar
                </button>
                <div class="social-media">
                    <a href="#"><img src="../src/storage/img/white/ig.svg" alt=""></a>
                    <a href="#"><img src="../src/storage/img/white/fb.svg" alt=""></a>
                    <a href="#"><img src="../src/storage/img/white/icon-k.svg" alt=""></a>
                </div>
            </div>

        </section>
    </main>
</body>
</html>