<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <div class="box-aqua">
            <p>AQUA</p>
            <img src="../src/storage/img/white/water.svg" alt="">
        </div>
        <div class="sections">
            <a href="#inicio">INICIO</a>
            <a href="#">COMO JUGAR</a>
            <a href="#">APOYANOS</a>
            <a href="#">SOBRE NOSOTROS</a>
        </div>
        <div class="theme">
            <a href="#"><img src="../src/storage/img/moon-on.svg" alt=""></a>
            <a href="#"><img src="../src/storage/img/sun-off.svg" alt=""></a>
        </div>
    </header>
    <main>
        <section id="inicio">
            <div class="content">
                <img src="../src/storage/img/white/tittle.svg" alt="" class="tittle-1">
                <h1>Somos creatividad, somos Crae</h1>
                <p>Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
            </div>
            <div class="img-iconbuy">
                <img src="../src/storage/img/white/dog.svg" alt="" class="dog">
                <button>
                    <img src="../src/storage/img/white/car.svg" alt="">
                    Comprar
                </button>
                <div class="social-media">
                    <a href="#"><img src="../src/storage/img/white/ig.svg" alt=""></a>
                    <a href="#"><img src="../src/storage/img/white/fb.svg" alt=""></a>
                    <a href="#"><img src="../src/storage/img/white/icon-k.svg" alt=""></a>
                </div>
            </div>
        </section>
        <section class="como-jugar">
            <div class="tittle-2">
                <h2>¿Cómo jugar?</h1>
                <p>Crae posee una modalidad de juego definidas pero siempre apoyamos la creatividad y que crees tus propias reglas y modalidades.</p>
            </div>
            <div class="t1">
                <div class="h1">
                    <button>1</button>
                </div>
                <p>Uno de los jugadores hace de “creativo” en cada uno de los turnos. Observa sus 6 cartas de la mano y, de una de ellas, debe construir una frase, palabra o sonido y decirla en voz alta (sin mostrar la carta a los otros jugadores). La frase puede ser inventada o puede estar inspirada en la poesía, literatura, cine, etc.                 </p>
                <img src="../src/storage/img/white/cards.svg" alt="">
            </div>
            <div class="t2">
                <div class="h1">
                    <button>2</button>
                </div>
                <p>Comenzamos el juego de izquierda a derecha. Selecciona una carta que inspire tu frase y dila en voz alta. El resto de jugadores seleccionará de entre sus cartas la que mejor se adapte a la frase construida por el creativo.</p>
                <img src="../src/storage/img/white/checklist.svg" alt="">
            </div>
            <div class="t3">
                <div class="h3">
                    <button>3</button>
                </div>
                <p>El objetivo de los jugadores es adivinar cuál de las cartas es la que el creativo usó para construir su frase. Cada jugador vota de forma secreta la carta que cree que pertenece al creativo. Para ello, coloca boca abajo frente a él un objeto que hayas escogido previamente. </p>
                <img src="../src/storage/img/white/how-to-vote.svg" alt="">
            </div>
            <div class="t4">
                <div class="h4">
                    <button>4</button>
                </div>
                <p>- Si todos los jugadores aciertan la carta del creativo, todos los jugadores excepto el creativo ganan 2 puntos. 
                    - En cualquier otro caso, tanto el creativo como los jugadores que hayan acertado, obtienen 3 puntos. 
                    - Todos los jugadores ganan un punto por cada voto que reciba su carta. 
                </p>
                <img src="../src/storage/img/white/checklist.svg" alt="">
            </div>
            <div class="t5">
                <div class="h5">
                    <button>5</button>
                </div>
                <p>Cada jugador roba cartas hasta tener 6 en su mano. El juego termina cuando se roba la última carta. El jugador que más lejos haya llegado en la escala de puntuación es el ganador.</p>
                <img src="../src/storage/img/white/mdi_summit.svg" alt="">
            </div>
        </section>
        <section class="apoyanos">
            <div class="text">
                <h1>Apóyanos</h1>
                <p>Por favor, si quieres ayudarnos económicamente, no dudes en donar en Kickstarter.
                    Así financiarías nuestro proyecto y contribuirías a cumplir este gran sueño.</p>
            </div>
            <div class="img-button">
                <img src="../src/storage/img/white/pc.svg" alt="">
                <button>Haz tu aporte</button>
            </div>
        </section>
    </main>
</body>
</html>